@model Movie

<h2>@Model.Title has been registered!</h2>
<p>Id: @Model.ID</p>
<p>Title: @Model.Title</p>
<p>Genre: @Model.Genre</p>
<p>Year: @Model.Year</p>
<p>
    Actors:
    @foreach (string m in Model.Actors)
    {
        if (!string.IsNullOrEmpty(m))
        {
        @m@:,
        }
    }
    
</p>
<p>
    Director(s):
    @foreach (string d in Model.Directors)
    {
        if (!string.IsNullOrEmpty(d))
        {
            @d@:,
        }
    }

</p>

